*{
    margin:0;
    padding:0;
}
body{
    font-family: "Fira Sans", Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    line-height: 1.6;
}
li{
    list-style: none;
}



.f-left{
    float:left;
}
.f-right{
    float: right;
}
.mb-5{
    margin-bottom: 5px !important;
}

.nav-links{
    list-style: none;
}

.bg-bl{
    background-color: #2a3439 !important;
}

.bg-gr{
    background-color: #0b7261 !important;
}

.bg-prp{
    background-color: #2e2459 !important;
}
.bg-wh{
    background-color: white !important;
}
.bg-rd{
    background-color: #a72145 !important;
}
.bg-yl{
    background-color: #ffc832 !important;
}
.mb-10{
    margin-bottom: 20px;
}
.f-wrap{
    flex-wrap: wrap !important;
}

.f-col{
    display: flex;
    flex-direction: column;
}

.nav-link{
    text-decoration: none;
}

.nav-link > a{
    color:#2a3439;
    background-color: transparent;
    font-size: 18px;
}

.navbar-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: .5rem;

}
.nav-links{
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    font-size: 24px;
    align-items: center;
}
.nav-header{
    display: flex;
    justify-content: space-around;
    padding:0 10%;
    margin-bottom: 5%;
}
.brand-name{
    font-family: "Alfa Slab One", serif;
    font-size: 6rem;
    margin-bottom: 2px;
    margin-top: 0;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 1px;
    position: relative;
    z-index: 99999999;
}
.description-text{
    font-weight: 300;
    line-height: 1.25;
    font-size: 2.25rem;
    margin-top:3rem;
    margin-bottom:0;
}
.start-btn{
    padding: 19px 45px;
    color:black;
    background-color: #ffc832;
    width: 100%;
    font-size: 1.75rem;
    margin: 20px;
    font-weight:600;
    text-align: center;
    border-radius: 4px;
    display:inline-block;
    cursor: pointer;
    box-sizing: border-box;
    line-height: 1.6;
    text-transform:uppercase;
    border: none;
}

.start-btn:hover{
    border: 1px solid black;
}

.download-link{
    font-size: 2.25rem;
    text-align: center;
    background-color: transparent;
    color:#4299bf;
}
.btn-download{
    padding-right: 40px;
}

.jumbotron{

    display: flex;
    align-items: center;
    justify-content:space-around ;
    flex-direction: column;
}

.why-rust{
    background-color: #0b7261 !important;
    box-sizing: border-box;
    color:white;
    padding: 5% 15%;
}

.container{
    background-color: #0b7261;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap:8%;


}
.desc-text{
    font-size: 1rem;
    margin-top: 2rem;
}
.sub-head{
    font-family: "Fira Sans", Helvetica, Arial, sans-serif;
    display: inline-block;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    font-size: 1.25rem;
    line-height: 1.25;
    font-weight: 800;
}
.bor-prp{
    border-bottom: 10px solid #2e2459;
    display: inline-block;
}

.bor-rd{
    border-bottom: 10px solid #a72145;
}

.bor-yl{
    border-bottom: 10px solid #ffc832;
}
.build-in-rust{
    background-color: #2e2459;
    box-sizing: border-box;
    color:white;
    padding: 5% 15%;
}
.build-btn{
    background-color: #a72145;
    text-transform: uppercase;
    padding: 10px 30px;
    text-align: center;
    font-weight: 600;
    color:white;
    width: 100%;
    cursor: pointer;
    border: none;
}

.img-cont{
    margin: auto;

}
.rust-in-production{
    box-sizing: border-box;
    padding: 5% 15%;
}

.lrn-btn{
    width: 100%;
    background-color: #ffc832;
    text-transform: uppercase;
    border: none;
    padding: 15px 20px;
    border-radius: 4px;
    font-weight: 500;
}
.lrn-btn:hover{
    border: 1px solid black;
}
.light{
    opacity:0.5;
}

.get-involved{
    box-sizing: border-box;
    color:white;
    padding: 5% 15%;
}
.btn-more{
    width: 100%;
    padding: 15px 20px;
    border:none;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
.contribute{
    flex-basis: 100%;
}
.read-rust,.watch-rust{
    flex:1;
}
.thanks{
    box-sizing: border-box;
    color:white;
    padding: 5% 15%;
    color: black;
}

.footer{
    box-sizing: border-box;
    color:white;
    padding: 5% 10%;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.footer-links{
    color: #ffc832;
    text-decoration: none;
}

 @media only screen and (max-width: 810px) {

     .navbar-container{
        flex-direction: column;
         justify-content: center;
         align-items: center;
         flex-flow:column wrap;
     }

     .nav-link > a {
         font-size: 15px;
     }
     .nav-header{
         flex-direction: column;
     }
     .jumbotron{
         display: flex;
         flex-direction: column;
     }
     .container{
         flex-direction: column;
         padding:0;
     }
     .brand-name{
         font-size: 2.25rem;
     }
     .description-text{
         font-size: 1.25rem;
         line-height: unset;
     }

}

@media only screen and (max-width: 1199px) and (min-width: 811px){

    .nav-link{
        align-self: center;
    }
    .nav-link > a {
        text-align: center;
        font-size: 15px;
        align-self: center;
    }
    .jumbotron{
        display: flex;
        flex-direction: column;
    }
    .nav-header{
        padding: 1%;
    }
    .why-rust{
        padding:1%;
    }
}




